.get_coaching{
    height: 300px;
    width: 100%;
    text-align: center;
    background-image: url(../../img/getthecoachingbg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
}
.get_coaching__h1{
    padding-top: 80px;
    font-weight: bold;
    color: white;
}
.get_coaching__h3{
    color: #eeeeeb;
}
.mybotton {
    width: 200px;
}