.leaning_zone{
    text-align: center;
    height: 300px;
    padding: 30px 100px;
}
.leaning_zone .leaning_zone__header {
    padding-top: 30px;
    font-size: 40px;
}
.leaning_zone .leaning_zone__h1{
    font-size: 30px;
    color: #6b717c;
}
.leaning_zone .leaning_zone__p{
    width: 80%;
    text-align: center;
    margin: auto;
}